<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div id="app">
    <p>{{message}}</p>
    <input type="text" v-model="textoDigitado" name="" id="">
    {{textoDigitado}}
    <button>Chamar altera nome</button>
    <br />
    <label v-text="textoDigitado"></label>
    <br />
    <div v-for="(img,index) in srcImg">
      <span>{{index}}</span> - <img :src="img">
    </div>


  </div>

  <script src="https://unpkg.com/vue@next"></script>
  <script>
    const application = {

      data() {
        return {
          message: 'Hello Vue!',
          srcImg: ["img/400_2435.jpg", "img/margaridas.jfif", "img/tullipa.png"],
          textoDigitado: '',
        }
      },
      methods: {
        alteraNome() {
          this.textoDigitado = 'Hello Vue!' + this.textoDigitado;
        }
      }
    }
    Vue.createApp(application).mount('#app');
  </script>
</body>

</html>